* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

html, body {
  width: 100%;
  background: #0e0e0e;
  overflow: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  display: flex;
  width: auto;
  height: 50Px;
  padding: 9px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 3px solid #DDD;
  font-size: 32px;
  font-weight: 600;
  background: none;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: #C9FF85;
  border: 3px solid transparent;
  color: black;
}

.circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  width: 721px; /* Size of the circle */
  height: 721px;
  transition: all 0.6s ease-in-out;
  z-index: 0;
}

.top-left {
  top: -350px; /* Adjust positioning */
  left: -350px; /* Adjust positioning */
  background: rgba(201, 255, 133, 0.25);
}

.bottom-right {
  bottom: -450px; /* Adjust positioning */
  right: -350px; /* Adjust positioning */
  background: rgba(242, 100, 100, 0.25);
}

.main-content {
  padding: 0 60px;
  height: 100vh;
  position: relative;
  z-index: 1;
  filter: blur(0px);
  transition: all 0.5s ease-in-out;
}
.main-content nav {
  width: calc(100% - 120px);
  position: fixed;
  z-index: 3;
}
.main-content nav .nav-elements {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-size: 24px;
}
.main-content nav .nav-elements .game-link {
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.main-content nav .nav-elements .nav-sub-elements {
  display: flex;
  gap: 82px;
}
.main-content nav .nav-elements a {
  color: rgba(233, 233, 233, 0.8705882353);
  transition: all 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}
.main-content nav .nav-elements a:hover {
  cursor: pointer;
  color: white;
}
.main-content .main-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  transition: all 0.6s ease-in-out;
}
.main-content .main-home #start {
  position: relative;
  bottom: 0;
}
.main-content .main-home .intro-text {
  position: relative;
  top: 0;
  transition: all 0.6s ease-in-out;
}
.main-content .main-home .intro-text h1 {
  transition: all 0.6s ease-in-out;
  font-size: 96px;
  font-weight: 600;
}
.main-content .game-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px 40px 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}
.main-content .game-area .canvas-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.main-content .game-area .canvas-container .player-details {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}
.main-content .game-area .canvas-container .player-details .player1, .main-content .game-area .canvas-container .player-details .player2 {
  width: 50%;
  height: 100%;
  padding: 32px 140px;
  z-index: 1;
  position: relative;
}
.main-content .game-area .canvas-container .player-details .player1 .player1-name, .main-content .game-area .canvas-container .player-details .player1 .player2-name, .main-content .game-area .canvas-container .player-details .player2 .player1-name, .main-content .game-area .canvas-container .player-details .player2 .player2-name {
  width: 100%;
  height: 48px;
  border-radius: 25px;
  border: 3px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .game-area .canvas-container .player-details .player1 .player1-name p, .main-content .game-area .canvas-container .player-details .player1 .player2-name p, .main-content .game-area .canvas-container .player-details .player2 .player1-name p, .main-content .game-area .canvas-container .player-details .player2 .player2-name p {
  font-size: 24px;
  font-weight: 600;
}
.main-content .game-area .canvas-container .player-details .player1 .score-1, .main-content .game-area .canvas-container .player-details .player1 .score-2, .main-content .game-area .canvas-container .player-details .player2 .score-1, .main-content .game-area .canvas-container .player-details .player2 .score-2 {
  font-size: 112px;
  color: #d3d3d3;
  position: absolute;
}
.main-content .game-area .canvas-container .player-details .player1 .score-1, .main-content .game-area .canvas-container .player-details .player2 .score-1 {
  right: 14%;
  top: 40%;
}
.main-content .game-area .canvas-container .player-details .player1 .score-2, .main-content .game-area .canvas-container .player-details .player2 .score-2 {
  left: 14%;
  top: 40%;
}
.main-content .game-area .canvas-container #myCanvas {
  top: 0;
  left: 0;
  display: block;
  position: absolute;
}
.main-content .game-area .button-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
}
.main-content .game-area .button-group .sounds,
.main-content .game-area .button-group .music {
  width: -moz-fit-content;
  width: fit-content;
  height: 57px;
  display: flex;
  align-items: center;
}
.main-content .game-area .button-group .sounds:hover,
.main-content .game-area .button-group .music:hover {
  cursor: pointer;
}
.main-content .game-area .button-group .sounds img,
.main-content .game-area .button-group .music img {
  height: 29px;
}
.main-content .game-area .button-group .button-icons {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.main-content .game-area .button-group .button-icons img {
  height: 16px;
}
.main-content .game-area #quit:hover {
  background-color: #F26464 !important;
  border: 3px solid transparent;
  color: white !important;
}

.player-details-modal, .instruction-modal {
  position: absolute;
  padding: 32px 32px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.78);
  -webkit-backdrop-filter: blur(8.1000003815px);
          backdrop-filter: blur(8.1000003815px);
  width: 75%;
  height: 75%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.player-details-modal .player-details-modal-content, .player-details-modal .player-details-modal-content2, .player-details-modal .player-details-modal-content3, .instruction-modal .player-details-modal-content, .instruction-modal .player-details-modal-content2, .instruction-modal .player-details-modal-content3 {
  z-index: 6;
}
.player-details-modal .player-details-modal-content p, .player-details-modal .player-details-modal-content2 p, .player-details-modal .player-details-modal-content3 p, .instruction-modal .player-details-modal-content p, .instruction-modal .player-details-modal-content2 p, .instruction-modal .player-details-modal-content3 p {
  font-size: 32px;
  font-weight: 600;
}
.player-details-modal .player-details-modal-content2, .instruction-modal .player-details-modal-content2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.player-details-modal .player-details-modal-content2 .input-fields, .instruction-modal .player-details-modal-content2 .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.player-details-modal .player-details-modal-content2 .input-fields .player-input, .instruction-modal .player-details-modal-content2 .input-fields .player-input {
  width: 100%;
  position: relative;
}
.player-details-modal .player-details-modal-content2 .input-fields .player-input .player1-input, .player-details-modal .player-details-modal-content2 .input-fields .player-input .player2-input, .instruction-modal .player-details-modal-content2 .input-fields .player-input .player1-input, .instruction-modal .player-details-modal-content2 .input-fields .player-input .player2-input {
  background: rgba(0, 0, 0, 0.78);
  text-align: center;
  font-size: 32px;
  width: 100%;
  height: 64px;
  border-radius: 25px;
  border: 3px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-details-modal .player-details-modal-content2 .input-fields .player-input .player1-input p, .player-details-modal .player-details-modal-content2 .input-fields .player-input .player2-input p, .instruction-modal .player-details-modal-content2 .input-fields .player-input .player1-input p, .instruction-modal .player-details-modal-content2 .input-fields .player-input .player2-input p {
  font-size: 24px;
  font-weight: 600;
}
.player-details-modal .player-details-modal-content2 .input-fields .player-input .warning-message, .instruction-modal .player-details-modal-content2 .input-fields .player-input .warning-message {
  display: none;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: #F26464;
  left: 20px;
  bottom: -30px;
}
.player-details-modal .player-details-modal-content2 .input-fields #color1, .player-details-modal .player-details-modal-content2 .input-fields #color2, .instruction-modal .player-details-modal-content2 .input-fields #color1, .instruction-modal .player-details-modal-content2 .input-fields #color2 {
  border: none;
  padding: 0;
  width: 25%;
  height: 64px;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 25px;
}
.player-details-modal .close-modal, .instruction-modal .close-modal {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 32px;
  cursor: pointer;
  font-weight: 300;
}
.player-details-modal p, .instruction-modal p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
.player-details-modal .controls-info-panel, .instruction-modal .controls-info-panel {
  width: 100%;
}
.player-details-modal .controls-info-panel .controls-info, .instruction-modal .controls-info-panel .controls-info {
  display: flex;
  justify-content: space-between;
}
.player-details-modal .controls-info-panel .controls-info div, .instruction-modal .controls-info-panel .controls-info div {
  width: 18%;
}

.instruction-modal div {
  width: 100%;
}

.responsive-content {
  display: none;
  padding: 0 20px;
  height: 100vh;
  z-index: 1;
}
.responsive-content .hamburger-menu {
  height: 100vh;
  width: 50%;
  position: absolute;
  background-color: white;
  right: -500px;
  transition: all 0.5s ease-in-out;
  border-radius: 15px 0 0 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 80px 50px;
}
.responsive-content .hamburger-menu .hamburger-elements {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-around;
}
.responsive-content .hamburger-menu .hamburger-elements a {
  font-size: 24px;
}
.responsive-content .responsive-nav {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: calc(100% - 40px);
}
.responsive-content .responsive-nav a {
  font-size: 16px;
  font-weight: 300;
}
.responsive-content .responsive-nav .hamburger-icon {
  display: flex;
  width: 30px;
  flex-direction: column;
  gap: 4px;
  border-radius: 3px;
}
.responsive-content .responsive-nav .hamburger-icon .hamburger-line1 {
  border: 1px solid white;
  animation: lineoneanimationrev 0.7s forwards;
}
.responsive-content .responsive-nav .hamburger-icon .hamburger-line2 {
  border: 1px solid white;
  animation: linetwoanimationrev 0.7s forwards;
}
.responsive-content .responsive-nav .hamburger-icon .hamburger-line3 {
  border: 1px solid white;
  animation: linethreeanimationrev 0.7s forwards;
}
.responsive-content .responsive-nav .hamburger-icon .not-active {
  animation: none !important;
}
.responsive-content .responsive-nav .active .hamburger-line1 {
  animation: lineoneanimation 0.7s forwards;
}
.responsive-content .responsive-nav .active .hamburger-line2 {
  animation: linetwoanimation 0.7s forwards;
}
.responsive-content .responsive-nav .active .hamburger-line3 {
  animation: linethreeanimation 0.7s forwards;
}
.responsive-content .responsive-home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.responsive-content .responsive-home h1 {
  font-size: 96px;
}
.responsive-content .responsive-home p {
  font-size: 24px;
  text-align: justify;
}
.responsive-content .responsive-home a {
  font-size: 16px;
}

.transparent-bg {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.countdown p {
  font-size: 104px;
  font-weight: 600;
}
.countdown .instruction-text {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.countdown .instruction-text p {
  font-size: 24px;
  font-weight: 500;
}

@keyframes lineoneanimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes linetwoanimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes linethreeanimation {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-4px) rotate(-45deg);
  }
}
@keyframes lineoneanimationrev {
  1000% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px);
  }
  0% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes linetwoanimationrev {
  1000% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  0% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes linethreeanimationrev {
  100% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-4px);
  }
  0% {
    transform: translateY(-4px) rotate(-45deg);
  }
}
@media (max-width: 932px) {
  .responsive-content {
    display: block;
  }
  .main-content {
    display: none;
  }
}
@media (max-width: 426px) {
  .responsive-content h1 {
    font-size: 80px;
  }
}
@media (max-width: 376px) {
  .responsive-content h1 {
    font-size: 72px;
  }
}/*# sourceMappingURL=style.css.map */